<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Book Store</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">My Books</a>
                </li>
            </ul>
            <div>
                <a class="nav-link text-white" href="#">New Books Register</a>
            </div>
        </div>
    </div>
</nav>

<div class="container text-center">
    <h1> WELCOME TO THE BOOK STORE PAGE</h1>
    <h6>
        Welcome to Bookstore Name, your ultimate destination for discovering the magic of books! Whether you're an avid reader, a casual explorer, or searching for the perfect gift, we bring you a world of stories, knowledge, and inspiration right at your fingertips.
        Books have the power to transport us to different worlds, spark our imagination, and connect us with emotions we never knew existed. From timeless classics that have shaped generations to the latest bestsellers that everyone’s talking about, our collection is thoughtfully curated to suit every taste and preference.
        Explore our extensive categories that include fiction, non-fiction, mystery, romance, science fiction, biographies, self-help, and so much more. Looking for a children’s book to nurture young minds or a cookbook to inspire your next culinary adventure? We’ve got it all.
        At Bookstore Name, we believe that books are more than just pages bound together; they are gateways to dreams, learning, and personal growth. Our mission is to create a space where readers can find joy and meaning in their reading journey.
        Discover the convenience of shopping online with detailed descriptions, customer reviews, and personalized recommendations. Don’t miss out on exclusive deals, new arrivals, and staff picks that highlight hidden gems and must-reads.
        Step into the enchanting world of books today—where every page holds a new adventure, and every story leaves a mark. Let us help you find your next favorite read!
    </h6>
    <img src="/images/bg.png" width="360px"/>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>